@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$black: #3c3c3c;
$white: #fff;
$gray-dark: #666;
$gray: #DDDDDD;
$gray-light: #eee;

$blue: #48ada7;
$success: #8ea54d;
$alert: #870c0e;
$main: #84555b;
$main-dark: #684146;

$font-alt: 'Roboto', sans-serif;
$font-main: 'Hind', sans-serif;
$font-serif: 'Lora', serif;