@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);

$black: #3c3c3c;
$white: #fff;
$gray-dark: #666;
$gray: #DDDDDD;
$gray-light: #eee;
$blue: #007fff;
$success: #3c763d;
$success-light: #dff0d8;
$alert: #fe2e2e;;

$font-main: 'Source Sans Pro', sans-serif;