@import "variables";

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.xblock-render div.assessment-factory-block{
	position: relative;
	min-height: 540px;
}

div.assessment-factory-block{
	background: url("https://s3.amazonaws.com/mit-cre-assets/background_images/dnd_background_overlay.jpg");
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.main-container{
		padding: 50px 100px;

		.btn{
			border: 1px solid #d2c9c9;
			background: transparent;
		    color: $white;
		    text-transform: uppercase;
		    padding: 6px 60px;
		    cursor: pointer;
		    text-shadow: 0 0 0;
		    box-shadow: 0 0 0;
		    border-radius: 0;
		    font-size: 14px;
		    font-family: Roboto, sans-serif;
		    font-weight: 400;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    outline: none;
			text-align: center;
			line-height: normal;
			display: block;
			margin: 0 auto;

			&:hover{
				cursor: pointer;
				background-color: $white;
				color: $black;
				text-shadow: 0 0 0;
			    box-shadow: 0 0 0;
			}

			&.begin {
				padding: 20px 60px;
			}
		}

		.heading-container{
			color: $white;

			.activity{
				text-align: center;
				font-size: 14px;
				font-family: $font-main;
				text-transform: uppercase;
				text-decoration: underline;
				margin: 0;
			}

			.display-name{
				font-size: 36px;
				text-align: center;
				font-family: $font-serif;
				margin: 30px 0 35px;
			}

			.display-name.left{
				text-align: left;
			}

			.category-text{
				font-size: 20px;
				margin: 20px 0;
				font-family: $font-main;

				span{
			    	font-weight: 700;
			    }
			}
		}

		.heading-container.begining{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%)
		}
		
		.scrollbar{
			&::-webkit-scrollbar { 
				width: 10px; 
			}

			&::-webkit-scrollbar-track {    
				-webkit-border-radius: 10px;    
				border-radius: 10px;    
				background: rgba(255,255,255,0.3); margin: 5px; 
			} 

			&::-webkit-scrollbar-thumb {    
				-webkit-border-radius: 10px;    
				border-radius: 10px; 
				margin: 3px;   
				background: rgba(255,255,255,0.9);  
			}

			&::-webkit-scrollbar-thumb:window-inactive { 
				background: rgba(255,255,255,0.4); 
			}
		}

		.items-container{
			float: left;
			width: calc(33% - 40px);
			margin-top: 40px;
			overflow-y: scroll;
			overflow-x: hidden;
			height: 320px;	
			padding: 5px;

			@extend .scrollbar;
		}

		.item-text{
			width: 100%;
			margin: 10px auto;
			padding: 5px 10px;
			font-size: 18px;
			display: block;
			background-color: $blue;
			color: $white;
			cursor: pointer;
			z-index: 10;
			opacity: 1;
			margin-top: 0;
		}

		.item-image{
			width: 400px;
			height: 200px;
			background-color: $white;
			border-radius: 5px;
			margin: 5px 0;
			cursor: pointer;
			z-index: 10;
			opacity: 1;
		}

		.incorrect-item{
			background-color: $alert;
		}
		.correct-item{
			background-color: $success;
		}

		.categories-container{
			float: right;
			width: 66%;

			.category-text{
				line-height: 50px;
				margin-bottom: 20px;

				.zone{
					display: inline-block;
					background-color: $gray-light;
					width: 200px;
					height: 50px;
				}
			}

			.category-image{
				width: 800px;
				height: 400px;
				background-size:cover;
				position: relative;

				.image-zone{
					background-color: rgba(0,0,0,0.5);
					border: 2px dashed #ddd;
				}
			}

			.category-blank{

				.zone-container{
					width: calc(50% - 10px);
					margin: 0;
					float: left;

					&:first-child{
						margin-right: 20px;
					}

					.zone-name{
						padding: 5px;
						font-size: 20px;
						color: $white;
						height: 40px;
					}

					.blank-zone{
						-webkit-box-shadow: inset 0px 0px 70px 0px rgba(104,65,70,1);
						-moz-box-shadow: inset 0px 0px 70px 0px rgba(104,65,70,1);
						box-shadow: inset 0px 0px 70px 0px rgba(104,65,70,1);
						background-color: $main;
						height: 300px;
						padding: 10px;
						box-sizing: content-box;
						overflow-y: scroll;

						@extend .scrollbar;
					}
				}
			}
		}

		.steps-container{
			clear: both;
			float: right;
			margin-top: 20px;
			width: 66%;

			.btn{
				float: left;
				font-family: $font-main;

				&:first-child{
					margin-right: 20px;
				}

				&.disabled{
					opacity: 0.5;
					-webkit-transition: none;
					-moz-transition: none;
					-o-transition: none;
					-ms-transition: none;
					transition: none;

					&:hover{
						cursor: pointer;
						background: none;
						color: $white;
						cursor: not-allowed;
					}
				}
			}

			.next-step{
				float: right;
			}

			.submit-step{
				margin-right: 20px;
				float: right;
			}
		}
	}

	.steps-progress-container{
		width: 100%;
		height: 7px;
		position: fixed;
		bottom: 0;
		left: 0;

		.step{
			background: rgba(255, 255, 255, 0.3);;
			height: 7px;
			float: left;
			margin: 0 2px;
		}

		.highlight-step{
			background: $white;
		}
	}
}

@media screen and (max-height: 768px){
	div.assessment-factory-block .main-container .heading-container.begining{
		margin-top: 150px;
	}

	div.assessment-factory-block .main-container .categories-container .category-blank .zone-container .blank-zone{
		height: 250px;
	}

	div.assessment-factory-block .main-container .items-container{
		height: 270px;
	}
	div.assessment-factory-block .main-container .steps-container .btn{
		width: 120px;
    	font-size: 12px;
	}
	div.assessment-factory-block .main-container .heading-container .display-name{
		font-size: 28px;
	}
	div.assessment-factory-block .main-container .heading-container .category-text{
		font-size: 16px;
		margin: 15px 0;
	}
	div.assessment-factory-block .main-container .categories-container .category-blank .zone-container .zone-name{
		font-size: 16px;
	}
	div.assessment-factory-block .main-container .item-text{
		font-size: 14px;
	}
	div.assessment-factory-block .main-container .steps-container{
		margin-top: 20px;
	}
}